:root {
  --border: #e56b6f;
  --backgroud: #355070;
  --midground: #6d597a;
  --text: #fff;
}

body {
  margin: 0;
  background: var(--backgroud);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
  font-size: 1.1em;
}

@media only screen and (min-width: 900px) {
  .row {
    display: flex;
    align-items: flex-start;
  }
  .col {
    flex: 1 1 0;
    padding: 1em;
  }
  table {
    margin-top: 0;
  }
}

.App {
  max-width: 900px;
  margin: auto;
}
.info {
  margin-top: 3em;
  background: var(--midground);
  border-radius: 0.25em;
  border: 2px solid var(--border);
  padding: 1em;
}
p {
  margin: 0;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 2em;
}
td {
  padding: 0.125em 0.5em;
}
th {
  padding: 0.125em 2em;
  border-bottom: 2px solid var(--border);
}
.latency {
  text-align: right;
}
h1 {
  color: #eaac8b;
}
button {
  border-radius: 0.25em;
  padding: 0.5em 1em;
  border: 2px solid var(--border);
  background-color: var(--border);
  cursor: pointer;
  color: var(--text);
  font-size: 1.1em;
  font-weight: 800;
  margin-top: 1em;
}
button:disabled {
  opacity: 0.5;
  cursor: initial;
}
.progress-bar {
  display: inline-block;
  border-radius: 1em;
  height: 0.5em;
  width: 8em;
  overflow: hidden;
  border: 1px solid var(--midground);
}
.progress {
  height: 0.5em;
  background-color: var(--border);
  transition: width 200ms;
}
